:root {
  --clr-cta-text: hsl(356, 100%, 66%);
  --clr-cta-hover-bg: hsl(355, 100%, 74%);
  --clr-cta-headings: hsl(208, 49%, 24%);
 
  --clr-text: hsl(0, 0%, 100%);
  --clr-footer-text: hsl(240, 2%, 79%);
  --clr-body-copy: hsl(207, 13%, 34%);
  --clr-footer-bg: hsl(240, 10%, 16%);
 
  /* Background gradient - Intro/CTA mobile nav: */

  --clr-light-red0: hsl(13, 100%, 72%);
  --clr-light-red1: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --clr-gray-blue: hsl(237, 17%, 21%);
  --clr-blue: hsl(237, 23%, 32%);

  --font-family0: 'Overpass', sans-serif;
  --font-family1: 'Ubuntu', sans-serif;
  --font-size: 62.5%;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* ---- Page style ---- */

html {
  font-size: var(--font-size);
  font-family: var(--font-family0);
}

body {
  background-color: var(--clr-bg0);
  min-height: 100vh;
  max-width: 100%;
}

ul {
  list-style: none;
}

h1, 
h2 {
  font-size: 3rem;
}

h2, h1, li, button {
  color: var(--clr-text);
}


header {
  padding-inline: 9rem;
}


button {
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  background: none;
}

.login {
  color: var(--clr-text);
}

.signup {
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  background-color: var(--clr-text);
  color: var(--clr-cta-text);
}


/* header wrapper  */

.header-wrapper {
  min-height: 100vh;
  background-color: var(--clr-light-red0);
  background-image: url(./images/bg-pattern-intro-desktop.svg);
  background-position: 0;
  background-blend-mode: unset;
  border-bottom-left-radius: 8rem;
}


/* header */

header {
  gap: 7rem;
  padding-block: 5rem;
  font-size: 1.6rem;
}

header > h2 {
  font-size: 4rem;
  font-weight: 900;
  font-family: var(--font-family1);
}

nav {
  inline-size: 100%;
  justify-content: space-between;
}

nav > ul {
  align-items: center;
  gap: 4rem;
  color: var(--clr-text);
  font-weight: 600;
}

.sub-menu {
  position: absolute;
  top: 120px;

  inline-size: 20rem;
  block-size: auto;
  padding: 3rem 2rem;
  color: var(--clr-gray-blue);
  background-color: var(--clr-text);
  border-radius: 7px;
  text-align: left;
}

.sub-menu > li {
  margin-bottom: 1rem;
  color: var(--clr-blue-gray);
}

.sub-menu,
.sub-menu-check,
.toggle-btn {
  display: none;
}

.action-btn {
  gap: 3rem;
}

/* nav-toggle  */

.sub-menu-check:checked ~ .sub-menu {
  display: block;
}


/* footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* Utility classes  */

.flex {
  display: flex;  
}

.grid {
  display: grid;
}


.toggle-btn {
  display: none;
}

.txt-center {
  text-align: center;
}



/* media query */

@media (max-width: 1000px) {
  
  header {
    justify-content: space-between;
  }

  nav {
    /* i don't know where i lost the specificity */
    display: none !important;
  }

  .nav-toggle-btn span {
    position: absolute;
    top: 2.5rem;
    right: 10px;
  }

  .nav-toggle-btn span,
  .nav-toggle-btn span::before,
  .nav-toggle-btn span::after {
    display: block;
    position: relative;
    inline-size: 3rem;
    block-size: 3px;
    background-color: var(--clr-text);
  }

  .nav-toggle-btn span::before,
  .nav-toggle-btn span::after {
    position: absolute;
    content: "";
  }

  .nav-toggle-btn span::before {
    top: 7px;
  }

  .nav-toggle-btn span::after {
    bottom: 7px;
  }

  .toggle-btn:checked ~ nav {
    display: flex !important;
    flex-flow: column nowrap;
    position: absolute;
    top: 10rem;
    inline-size: 80vw;
    block-size: 80vh;
    color: var(--clr-blue-gray);
    background-color: var(--clr-text);
  }
}
