:root {
  --clr-cta-text: hsl(356, 100%, 66%);
  --clr-cta-hover-bg: hsl(355, 100%, 74%);
  --clr-cta-headings: hsl(208, 49%, 24%);
 
  --clr-text: hsl(0, 0%, 100%);
  --clr-footer-text: hsl(240, 2%, 79%);
  --clr-body-copy: hsl(207, 13%, 34%);
  --clr-footer-bg: hsl(240, 10%, 16%);
 
  /* Background gradient - Intro/CTA mobile nav: */
  --clr-bg-light-red: hsl(3.9 100% 70.2% / .95);
  --clr-light-red0: hsl(13, 100%, 72%);
  --clr-light-red1: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --clr-gray-blue: hsl(237, 17%, 21%);
  --clr-blue: hsl(237, 23%, 32%);

  --font-family0: 'Overpass', sans-serif;
  --font-family1: 'Ubuntu', sans-serif;
  --font-size: 62.5%;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* ---- Page style ---- */

html {
  font-size: var(--font-size);
  font-family: var(--font-family0);
}

body {
  background-color: var(--clr-bg0);
  min-block-size: 100vh;
  max-inline-size: 100vw;
}

ul {
  list-style: none;
}

h1, 
h2 {
  font-size: 3rem;
}

h2, h1, li, button {
  color: var(--clr-text);
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 1px;
}

button {
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  background: none;
}

.login {
  color: var(--clr-text);
}

.signup,
.start-btn, 
.learn-more-btn {
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  background-color: var(--clr-text);
  color: var(--clr-cta-text);
}


/* header wrapper  */

.header-wrapper {
  grid-template-rows: 1fr 3fr;
  gap: 7vw;
  height: 100vh;
  padding-inline: clamp(2rem, calc(5vw + 1rem), 9rem);
  background-color: var(--clr-bg-light-red);
  background-image: url(./images/bg-pattern-intro-desktop.svg);
  background-position: 20% 45%;
  background-blend-mode: unset;
  border-bottom-left-radius: 1rem;
}


/* header */

header {
  gap: 5rem;
  padding-block: 5rem;
  font-size: 1.6rem;
}

header > h2 {
  font-size: 4rem;
  font-weight: 900;
  font-family: var(--font-family1);
}

nav {
  display: flex;
  inline-size: 100%;
  justify-content: space-between;
}

nav > ul {
  align-items: center;
  gap: 4rem;
  color: var(--clr-text);
  font-weight: 600;
}

.sub-menu {
  position: absolute;
  top: 120px;

  inline-size: content-fit;
  block-size: auto;
  padding: 2rem 5rem 2rem 3rem;
  color: var(--clr-gray-blue);
  background-color: var(--clr-text);
  border-radius: 10px;
  text-align: left;
}

.sub-menu > li {
  margin-bottom: 1rem;
  color: var(--clr-blue-gray);
}

.sub-menu,
.sub-menu-check,
.toggle-btn {
  display: none;
}

.action-btn {
  display: flex;
  gap: 3rem;
}

.sub-menu-check:checked ~ .sub-menu {
  display: block;
}

/* nav ends  */

.about {
  align-items: center;
  flex-flow: column nowrap;
  gap: 2rem;
  text-align: center;
}

.about h1 {
  font-size: clamp(3rem, 4vw + 2rem , 6rem);
  font-weight: 700;
}

.about p {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--clr-text);
}

.about .start-btn {
  padding-inline: 2rem;
  margin-inline-end: 1rem;
}

.about .learn-more-btn {
  padding-inline: 3rem;
  background-color: transparent;
  color: var(--clr-text);
  border: 1px solid var(--clr-text);
}


/* main */

main {
  grid-template: repeat(auto, minmax(400px, 1fr)) / 1fr;
  row-gap: 3rem;
}

section {
  max-inline-size: 100vw;
}

.section > h2 {
  grid-area: heading;
  font-size: 2.8rem;
  text-align: center;
  padding-block-end: clamp(1rem, calc(7vw + 1rem), 10rem);
}

.section1 div,
.section2 div,
.section3 > div div {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  text-align: left;
}

.section1 {
  position: relative;
  grid-template: "heading heading" 1fr "text svg-image" auto / 1fr 1fr;  
  gap: 4rem;
  inline-size: 100vw;
  padding-block-start: 10rem;
  padding-block-end: 10rem;
  text-align: center;
  overflow: hidden;
}

.section1  :is(h2, h3),
.section3 h2 {
  color: var(--clr-cta-headings);
}

.section1 h2 {
  grid-area: heading;
}

.section1 div,
.section3 > div { 
  place-self: center;
  margin-block-end: 3rem;
  padding-inline: clamp(1rem, calc(5vw + 1rem), 8rem) 1rem;
  color: var(--clr-body-copy);
}

.section1 > picture {
  grid-area: svg-image;
  position: relative;
}

.section1 img {
  position: absolute;
  top: -239px;
  left: 10%;
}

.section1 > div {
  grid-area: text;
  justify-self: end;
  inline-size: 100%;
  font-size: 2.3rem;
}

.section2  {
  position: relative;
  grid-template: "phone content" 400px / 1fr 1fr;
  gap: 2rem;
  background-color: var(--clr-gray-blue);
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
}

.section2 > picture {
  grid-area: phone;
  position: relative;
} 

.section2 img {
  max-inline-size: 100%;
  position: absolute;
  top: -150px;
}

.section2 div {
  grid-area: content;
  place-self: center;
  padding-inline: 0 clamp(1rem, calc(8vw + 1rem), 10rem);
}

.section2 p {
  color: var(--clr-text);
}


.section3 {
  grid-template: "svg-image content" 1fr / 1fr 1fr;
  gap: 3rem;
  margin-block: clamp(4rem ,calc(13vw + 1rem) ,15rem);
}

.section3 picture {
  grid-area: svg-image; 
  position: relative;
}

.section3 img {
  position: absolute;
  left: -280px;
  top: -210px;
}

.section3 > div {
  grid-area: content;
  flex-flow: column nowrap;
  gap: 3rem;
  padding-inline: 0 clamp(1rem, calc(8vw + 1rem), 10rem);
} 


/* footer */

footer {
  grid-template: 1fr / repeat(4, 1fr);
  gap: 1rem;
  margin-top: 8rem;
  padding-block: 10rem 15rem;
  background-color: var(--clr-footer-bg); 
  border-top-right-radius: 6rem;
}

footer > div:first-child {
  justify-self: center;
}

footer h2 {
  font-size: 4rem;
}

footer h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--clr-text);
}

footer ul li {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}


.attribution {
  padding-block: 4rem 2rem;
  text-align: center;
}


@media (max-width: 750px) {
  .header-wrapper {
    border-bottom-left-radius: 10rem;
  }
  
  header {
    justify-content: space-between;
  }

  nav {
    display: none;
  }  
 
  nav ul,
  nav li {
    color: var(--clr-gray-blue);
  }

  .toggle-btn:checked ~ nav {
    display: flex;
    flex-flow: column nowrap;
    gap: 4rem;
    position: absolute;
    top: 25%;
    left: 0%;
  }
 
  .toggle-btn:checked ~ nav > ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }

  .singup {
    max-inline-size: 10rem;
  }

  .section1 {
    grid-template: "heading" 1fr "svg-image" auto "text" auto / 1fr;
    padding-block-end: 18rem;
  }

  .section1 img {
    position: static;
    inset: 0;
    max-inline-size: 100%;
  }

  .section2 {
    grid-template: "phone" auto "content" 1fr / 1fr;   
    padding-block-end: 8rem;
    background-image: url("./images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: 40% 120%;
  }

 .section2 div {
  padding-inline: clamp(1rem, calc(5vw + 1rem), 8rem) 1rem;
 }

 .section2 img {
    max-inline-size: 100%;
    position: relative;
    top: -180px; 
  }

  .section3 {
    grid-template: "svg-image" auto "content" 1fr / 1fr;
    gap: 3rem;
  }

  .section3 picture {
    position: static;
    place-self: center;
  }

  .section3 img {
    max-inline-size: 100%;
    position: static;
    inset: 0;
  }

  .section3 div {
    padding-inline: 2rem;
  }

  footer {
    grid-template: repeat(4, 1fr) / 1fr;
    place-items: center;
    padding-block: 3rem 6rem;
  }
}

/*  Responsive hamburger menu  */

@media (max-width: 1000px) {

 .overlay {
  display: none;
  position: absolute;
  top: 20%;
  right: 10%;
  bottom: 20%;
  left: 10%;
  inline-size: 80vw;
  block-size: 100vh;
  background-color: var(--clr-text);
 }

 .nav-toggle-btn {
   display: flex;
   position: absolute;
   top: 75px;
   right: 50px;
  }

  .nav-toggle-btn > span {
    position: relative;
    align-self: center;
  }

  .nav-toggle-btn > span,
  .nav-toggle-btn > span::after,
  .nav-toggle-btn > span::before {
    inline-size: 3rem;
    block-size: 3px;
    background-color: var(--clr-text);  
  }

  .nav-toggle-btn > span::before,
  .nav-toggle-btn > span::after {
    content: "";
    transition: all 250ms ease-in-out;
    transform-origin: 50%;
  }

  .nav-toggle-btn > span::before {
    position: absolute;
    top: 7px;
  }

  .nav-toggle-btn > span::after {
    position: absolute;
    bottom: 7px;
  }
  
  .toggle-btn:checked ~ .nav-toggle-btn > span {
    background-color: var(--clr-bg-light-red);
  }

  .toggle-btn:checked ~ .nav-toggle-btn > span::before {
    transform: translateY(-7px) rotate(-135deg);
  }

  .toggle-btn:checked ~ .nav-toggle-btn > span::after {
    transform: translateY(7px) rotate(135deg);
  }

  .toggle-btn:checked ~ .overlay {
    display: block;
    z-index: 0;
  }

  .action-btn .login {
    color: var(--clr-gray-blue);
  }

  .action-btn .signup {
    background: var(--clr-bg-light-red);
    color: var(--clr-text);
  }
  
  .toggle-btn:checked ~ nav > .action-btn { 
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  
  /* login and signup button */
  .action-btn {
    display: none;
  }

  .toggle-btn:checked ~ nav > .action-btn { 
    position: absolute;
    top: 30%;
    left: 45%;
  }

  .section3 img {
    transform: scale(0.65);
  }
}
/* Utility classes  */

.flex {
  display: flex;  
}

.grid {
  display: grid;
}
